{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Jokes plugin for Craft CMS
 *
 * JokesWidget Widget Body
 *
 * @author    remcoov
 * @copyright Copyright (c) 2020 remcoov
 * @link      https://github.com/remcoov
 * @package   Jokes
 * @since     1.0.0
 */
#}

{% do view.registerAssetBundle("remcoov\\jokes\\assetbundles\\jokes\\JokesAsset") %}

<div id="jokes__icon" class="hoi">
    <svg width="74" height="61" xmlns="http://www.w3.org/2000/svg"><g fill="#33404D" fill-rule="nonzero"><path d="M53.5 16.33c0 1.036-3.375.864-5.063.864-4.724 0-8.268 2.07-11.137 3.451-6.581-3.796 1.688-8.974 8.1-8.629 4.556.173 7.425 1.036 8.1 4.315zm-11.138-2.415c-2.025 1.208-5.23 1.035-5.4 4.487 2.87.172 3.375-2.244 6.244-2.071-.337-.863-.169-2.071-.844-2.416zm9.113 1.553c-.169-1.036-1.013-1.553-2.194-1.38-.169 1.38 1.519.69 2.194 1.38zM26.5 17.194c1.012-.173 1.856-.518 2.531 0 0 1.553-1.687 1.38-2.531 2.07v3.97c-1.181 1.035-2.7 1.553-3.544 2.934.675 1.726 2.025 2.243 3.544 3.106h1.688S28.188 31 26.5 31s-3.712-2.244-4.725-3.452c-.506.346-.675.863-1.519.863.169-.69-.337-.863-.337-1.208-1.688.345-1.519.345-3.544.345 3.544-1.725 5.231-3.279 8.438-5.35v-2.933c-2.532-1.899-8.944-.518-11.813-2.071 2.194-5.868 11.475-3.107 13.5 0zm-9.956-1.208c1.012.345 2.531.172 3.375-.173-1.013-.345-2.532-.172-3.375.173zm28.518 2.934c2.026.345 1.857 1.725 5.57 1.725 6.412 0 6.58-3.451 9.618-3.451 4.219 0 6.75 2.761 6.75 6.903 0 1.726-.169 1.726-1.688 3.451v-3.451c-.337-2.934-1.687-5.177-5.062-5.177-1.013.172-2.531 1.725-3.712 2.243-1.688.69-3.713 1.208-5.738 1.208-3.375 0-5.737-1.726-5.737-3.451z"/><path d="M15.5 21.627c.85-.16 1.7-1.593 3.4-1.593 0 3.186-2.55 3.186-5.1 3.186-.17-.956-.85-1.115-1.7-1.593H7c1.19-2.55 6.63-1.753 8.5 0zM41 24.495C41 28 41 28 37.6 28c0-1.593 2.04-1.115 1.7-2.39-.34-1.275-1.87-.478-3.4-1.115.34-2.23 4.25-1.116 5.1 0zm-5.1 2.23c0 .478.17 1.116-.17 1.275-1.53 0-3.23 0-4.93-.478.17-1.434 3.57-1.115 5.1-.797z"/><path d="M38.077 0v3.38c2.866 0 5.732 0 8.598.168h9.272c1.011.17 3.203 2.197 4.552 4.394.337.676.674 1.52 1.011 2.534.337 1.183.843 2.366 1.349 3.38 1.18 2.028 2.866 3.548 4.383 4.9 2.698 2.366 4.046 3.549 3.203 7.266-.337 1.183-1.18 2.197-2.697 3.549-1.349 1.351-3.035 2.872-4.215 5.069-.505 1.014-.843 2.028-1.18 2.872-.168.507-.337 1.014-.506 1.352-2.36 4.225-10.115 7.773-13.824 9.463a61.536 61.536 0 00-4.72 2.366c-2.866 1.52-5.732 3.041-8.092 3.717-1.686.507-3.877.845-6.238 1.352-1.348.338-2.866.507-4.214.845-3.372.676-6.238 1.013-8.767 1.013-2.528 0-4.551-.337-6.069-1.013-1.686-.676-3.371-2.535-3.709-3.549-.505-2.028 0-5.407.338-8.618.505-4.393 1.011-8.955 0-13.01-.506-1.86-1.18-3.38-1.855-4.732-1.18-2.366-1.854-3.886-1.18-6.421.169-.845.674-1.52 1.854-2.535 1.686-1.52 4.047-3.717 4.215-8.28C16.161 4.056 27.12 3.38 38.077 3.38V0m0 0C25.264 0 13.295 1.014 6.214 7.773c.506 6.928-4.889 6.759-5.9 11.49-1.349 5.745 2.023 8.449 3.034 12.842 1.518 6.59-1.517 16.053-.337 21.63.506 2.365 3.203 4.9 5.564 5.913C10.766 60.662 13.295 61 15.992 61c3.035 0 6.407-.507 9.441-1.183 4.046-.845 8.092-1.52 10.79-2.197 4.046-1.182 8.935-4.224 13.318-6.252 5.732-2.703 12.644-6.252 15.341-10.983.674-1.183.843-2.873 1.517-4.224 2.192-3.887 6.238-5.577 7.25-9.463 2.022-8.449-5.227-9.632-7.924-14.532-.843-1.52-1.349-4.055-2.36-5.914C62.016 3.886 59.15.676 56.62.17c-.337 0-.843-.169-1.517-.169-1.011 0-2.192.169-3.372.169h-.168C47.18.169 42.629 0 38.077 0z"/><path d="M27.268 37c-6.577 0-10.962-1.54-13.492-4.447-2.361-2.908-1.687-5.987-1.687-6.158a1.75 1.75 0 012.024-1.369c.843.171 1.518 1.027 1.35 2.053 0 .171-.338 1.71 1.011 3.25 1.18 1.54 4.048 3.25 10.794 3.25 9.951 0 16.866-3.079 22.432-5.474 3.542-1.54 6.746-3.079 9.613-3.079 1.012 0 1.687.685 1.687 1.71 0 1.027-.675 1.711-1.687 1.711-2.192 0-4.89 1.198-8.264 2.737C45.483 33.58 37.894 37 27.27 37z"/><path d="M62.329 30c-.356 0-.533 0-.71-.16L57 27.76V23.6c0-.96.71-1.6 1.776-1.6s1.776.64 1.776 1.6v2.24l2.487 1.12c.888.32 1.244 1.28.71 2.08-.177.64-.71.96-1.42.96z"/><path d="M23.555 51c-2.542 0-6.947-.5-9.997-3.167-2.372-2-3.558-4.833-3.558-8.5 0-5.166 1.694-10.333 1.864-10.5.339-.833 1.186-1.333 2.202-1 .848.334 1.356 1.167 1.017 2.167 0 0-1.525 4.833-1.525 9.5 0 2.667.847 4.667 2.372 6.167 3.389 3 9.15 2.333 9.32 2.333h.169c19.824 0 25.415-7.333 29.142-12.333 1.017-1.334 2.034-2.667 3.05-3.5v-4.5c0-1 .678-1.667 1.695-1.667 1.016 0 1.694.667 1.694 1.667v5c0 .5-.339 1-.678 1.333-1.016.667-1.864 1.833-3.05 3.333C53.206 42.833 46.937 51 25.588 51h-2.033z"/><path d="M61 28.306c-1.001.34-.668.17-1.67 0-.667.51-2.169 2.213-1.668 3.404-4.006 4.595-5.008 5.276-6.677 8.509-5.842 6.637-13.52 9.36-26.872 8.68-4.34-.17-9.347-.681-11.35-2.894-3.339-3.574-1.002-14.125-.501-18.72.334-.68 0-1.872.5-2.042 1.503.51.668 2.723 1.169 4.084 1.001 2.723 6.009 4.425 9.68 4.765 13.688 1.702 25.204-5.616 34.218-8.85.334-.68 0 .341.667-.17 1.169.341-1.168.852-.834 1.532 1.001 1.702 3.171 0 3.338 1.702zm-9.18 1.532v3.233c3.505-.68 4.006-.68 4.173-4.765-3.005.17-1.67.851-4.173 1.532zM41.805 33.07c0 1.362.5 2.383.5 3.574 3.172-1.361 7.512-1.361 7.846-5.786-2.838.34-5.341 1.702-8.346 2.212zm-27.707 4.085c.167-1.362 1.001-3.744.167-4.936-.668.851-2.17 4.255-.167 4.936zm2.003.85c1.001-.34 1.669.681 2.003.17-.668-1.19.667-2.212.5-3.403-1.168 0-1.502-.68-2.503-1.021-.835.851 0 2.893 0 4.255zm23.868-4.084c-2.337.51-4.173.851-6.51 1.532v3.233c5.008 0 4.841-.68 7.345-1.19-.167-1.192-.167-2.894-.835-3.575zm-20.53 4.255c1.67.51 3.505.68 5.675.51-.167-.85.167-2.552 0-2.893-1.67-.17-3.672-.17-4.84-.85-.334 1.02-.334 2.552-.835 3.233zm7.511-2.383c0 1.021-.167 2.042-.167 2.893 1.67 0 3.338-.17 5.007 0v-3.233c-1.836-.17-3.004.51-4.84.34zm16.19 3.234c-.333 2.382 1.169 3.063 1.503 4.935 2.67-1.021 4.506-2.893 6.676-4.425-1.001-.51-.834-2.212-1.168-3.403-2.003 1.361-4.507 2.212-7.01 2.893zm-8.679 2.552c-.167 1.873.334 3.234.167 4.936 3.672.17 5.842-.851 8.346-1.702-.501-1.872-1.67-3.063-1.67-5.446-2.002 1.021-4.005 2.042-6.843 2.212zm-17.025 4.425c-.5-1.702-.834-3.233-2.17-3.914-.167 1.021.501 1.362.501 2.383-.167.68-1.001.34-1.168.51.667.68 1.836.851 2.837 1.021zm9.848-3.233c0 1.702.668 2.723.5 4.425 1.67 0 3.84.17 5.175-.17 0-.852-.334-3.064-.167-4.766-1.502.34-3.672.681-5.508.51zm-8.179 3.403c.668.34 1.336.681 2.504.511-.167-1.361-1.002-2.042-1.168-3.404-1.002 0-1.336-.68-2.504-.51.167 1.361 1.669 2.042 1.168 3.403z"/></g></svg>
</div>

<div id="jokes__js" class="jokes__text">
{% if joke['type'] != 'http-error' %}
    {% if joke['type'] == 'twopart' %}
        <b>{{ joke['setup']|nl2br }}</b><br><br>
        {{ joke['delivery']|nl2br }}
    {% else %}
        {{ joke['joke']|nl2br }}
    {% endif %}
{% else %}
    <b>Here's a joke:</b><br>this widget is not working due to a HTTP error.
{% endif %}
</div>

<div id="jokes__anotherjoke">
    <svg width="19" height="22" xmlns="http://www.w3.org/2000/svg"><path d="M16.027 5.936A8.941 8.941 0 009.663 3.3h-1.32l2.118-2.123L9.281 0 5.157 4.135l4.07 4.139 1.189-1.17-2.103-2.137h1.35c4.044 0 7.333 3.29 7.333 7.333 0 4.044-3.29 7.333-7.333 7.333-4.044 0-7.333-3.29-7.333-7.333v-.833H.663v.833a8.94 8.94 0 002.636 6.364A8.941 8.941 0 009.663 21.3a8.941 8.941 0 006.364-2.636 8.941 8.941 0 002.636-6.364 8.941 8.941 0 00-2.636-6.364z" fill="#33404D" fill-rule="nonzero"/></svg>
</div>

{% js %}
    window.csrfTokenName = "{{ craft.app.config.general.csrfTokenName }}";
    window.csrfTokenValue = "{{ craft.app.request.csrfToken }}";
{% endjs %}